{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class='container'>
    <div class='card col-5 mt-1 card-body mx-auto mb-4'>
        <div class='alert alert-primary text-center display-7 text-uppercase'>Change  Password</div>
        <table class='ml-5'>
            <form method='POST'>
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for  error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}
                {% endif %}
                {% for fm in form %}
                {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br><br>
                {% endfor %}
            </table>
        <button type='submit' class='btn btn-primary btn-sm col-5 mx-auto mt-4'> Change Password</button>
        </form>
    </div>
</div>

{% endblock %}