{% extends 'base.html' %}
{% block search %}
<form class="d-flex" method='get' action='/searchdc/'>
    <input class="form-control me-2" type="search" id='Query' name='Query' placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</a>
</form>
{% endblock %}

{% block content %}
<h1 class='col-lg-6 mx-auto  text-info mt-3 text-uppercase'>DC List</h1>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover table-bordered mx-auto" id="dataTable" width="100%" cellspacing="0">

            <tr>
                <th>SR NO.</th>
                <th>DC  Name</th>
                <th>Company Name
                    </br>
                    <form class="d-flex" method='get' action='/searchDcCompany/'>
                    <input type='search' placeholder='company...' name='Query'>
                    </form>
                    
                </th>
                <th>Project Name
                    </br>
                    <form class="d-flex" method='get' action='/searchDcProject/'>
                    <input type='search' placeholder='project...' name='Query1'>
                    </form>
                </th>
                <th>OEM Name
                    </br>
                    <form class="d-flex" method='get' action='/searchDcOem/'>
                    <input type='search' placeholder='OEM...' name='Query2'>
                    </form>
                </th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Remark</th>
                <th>Upload DC</th>
                <th colspan="2">
                    <center>Action</center>
                </th>
            </tr>

            {% for i in q1 %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.DC_Name}}</td>
                <td>{{i.Company}}</td>
                <td>{{i.Project}}</td>
                <td>{{i.OEM}}</td>
                <td>{{i.Date_Created}}</td>
                <td>{{i.Date_Modified}}</td>
                <td>{{i.Remark}}</td>
                <td>
                   
                    <center>
                        <a href="/media/{{i.Upload_DC}}/" class='btn btn-primary btn-sm' target="_blank">DOWNLOAD PDF</a>
                    </center>
              
                </td>
                <td><a href="/boq-delete/{{i.id}}/">Delete</a></td>
                <td>
                    <a href="/updateDC/{{i.id}}/">Edit</a>
                </td>
            </tr>

            {%endfor%}

        </table>
    </div>
</div>
{% endblock %}