{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    
    <div class='card  card-body col-lg-6 mx-auto mt-5 mb-5 border border-info  '>
      <p class=' alert alert-primary col-9 display-4 text-uppercase font-weight-bold mt-3 mx-auto'>
          UPDATE RMA</p>
    <table class='table table-light'>
        {{form.as_table}}

        <tr>
                      <td><input class='btn btn-success btn-lg mx-auto' type="submit" value="Save"></td>
        </tr>
    </table>
  </div>
</form>

{% endblock %}